<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.asset.admin.dao.persist.mapper.UserMapper">
    <select id="selectByUsername" resultType="cn.tedu.asset.admin.pojo.vo.UserVO">
        SELECT  username,password,identity,nickname,tel,email,dept,unit FROM asset.user WHERE username = #{username}
    </select>
    <update id="updateUser">
        UPDATE asset.user
        <set>
            <if test="nickname != null">nickname=#{nickname},</if>
            tel=#{tel},
            email=#{email}
        </set>
        WHERE username=#{username}
    </update>
</mapper>
